img{
width:250px;
margin:10px;
}

.rounded{
border-radius:15px;
}

.circle{
border-radius:50%;
}

.hover-effect{
transition:0.4s;
}

.hover-effect:hover{
transform:scale(1.1);
filter:brightness(120%);
}