body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#444;
}

.nav-links{
display:flex;
justify-content:center;
list-style:none;
padding:10px;
margin:0;
gap:30px;
color:white;
}

.nav-links li{
cursor:pointer;
}

.container{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
box-shadow:0 3px 6px rgba(0,0,0,0.2);
text-align:center;
border-radius:8px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:15px;
}