<!DOCTYPE html>
<html>
<head>

<title>Dashboard Layout</title>

<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/grid.css">

</head>

<body>

<h2>Dashboard Layout</h2>

<div class="dashboard">

<div class="sidebar">

<h3>Dashboard Menu</h3>

<p>Overview</p>
<p>Reports</p>
<p>Settings</p>

</div>

<div class="main">

<h3>Students Records</h3>

<div class="grid-container">

<div class="grid-item">Students</div>
<div class="grid-item">Pocket Money</div>
<div class="grid-item">Attendance</div>

</div>

</div>

</div>

</body>
</html>