<!DOCTYPE html>
<html>
<head>

<title>Portfolio Layout</title>

<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/flexbox.css">

</head>

<body>

<h2>Portfolio Projects</h2>

<div class="flex-container">

<div class="flex-item"><a href="../../../index.html">Main Portfolio</a></div>
<div class="flex-item"><a href="../../Lab02/profile.html">Secondary Profile</a></div>
<div class="flex-item"><a href="../../Lab02/index.html">Home Page for Information</a></div>
<div class="flex-item"><a href="../../Lab02/schedule.html">Schedule</a></div>

</div>

</body>
</html>